.page-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grid {
  width: 280px; /* 20*14 = 280 */
  height: 280px; /* 20*14 = 280 */
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 1px black solid;
  box-sizing: border-box;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: green;
}

.score {
  text-transform: uppercase;
}

.btn-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
